bun.lockb
node_modules
.DS_Store
.env
ts/
zh-TW/
vi/
yo/
jw/
id/
su/
hi/
yi/
ilo/
ig/
hy/
sn/
hu/
sd/
haw/
el/
iw/
uz/
uk/
ur/
ug/
cy/
tk/
tr/
th/
ta/
te/
tg/
so/
ceb/
gd/
sw/
sl/
sk/
eo/
si/
st/
nso/
sr/
sm/
sv/
ak/
ny/
ps/
pa/
no/
ne/
zu/
xh/
hmn/
my/
lus/
bn/
mn/
mni-Mtei/
mi/
mai/
mk/
ms/
ml/
mr/
mt/
mg/
ro/
rw/
lb/
lg/
ln/
lt/
lo/
lv/
la/
ckb/
ku/
qu/
hr/
kri/
co/
kn/
cs/
ca/
gl/
ky/
nl/
ha/
ht/
kk/
gn/
gu/
gom/
ka/
km/
fy/
fi/
tl/
sa/
doi/
ti/
dv/
da/
tt/
af/
bho/
fa/
bs/
pl/
is/
bg/
bm/
be/
eu/
om/
or/
et/
ga/
ay/
ee/
az/
as/
am/
ar/
sq/
pt/
ru/
ko/
it/
ja/
de/
fr/
es/
zh/
en/
