p(align="center")
  a(href="https://wac.tax")
    img(src="https://cdn.jsdelivr.net/gh/wactax/img/logo.svg")
p(align="center")
  a(href="https://github.com/wactax/wac.tax/blob/main/doc/README.md#readme")
    img(alt="I18N" src="https://cdn.jsdelivr.net/gh/wactax/img/t.svg")
  ="　"
  a(href="https://groups.google.com/u/2/g/wactax")
    img(alt="Google Groups" src="https://cdn.jsdelivr.net/gh/wactax/img/g-groups.svg")

